<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   a.plist
   GitDemo

   Created by zhangerbing on 2019/3/8.
   Copyright (c) 2019 comcom.zhuoyue. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>ad-hoc</string>
        <key>compileBitcode</key>
        <false/>
    </dict>
</plist>
